* {
  box-sizing: border-box;
}

#container {
  position: relative;
  max-width: 85%;
  min-height: inherit;
  margin: 0 auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.main-container {
  background: #fff;
  padding: 50px;
  padding-right: 30px;
  width: 65%;
}

.main-container .course-title {
  margin-top: 0;
  margin-bottom: 0;
}

.main-container .duration {
  position: absolute;
  top: 0;
  right: 0;
  color: #88898c;
}

.main-container .section {
  margin-bottom: 60px;
}

.main-container .section-title {
  text-transform: capitalize;
  font-size: 25px;
  color: #a51b1b;
  position: relative;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 20px;
}

.main-container .upper-row {
  position: relative;
  margin-bottom: 2px;
  overflow: hidden;
}

.main-container .school-name {
  margin-bottom: 8px;
  color: #88898c;
}

.main-container .job-title {
  margin-top: 0;
  margin-bottom: 0;
}

.main-container .job-location {
  margin-bottom: 8px;
  color: #88898c;
}

a {
  color: #a51b1b;
}

.sidebar-container {
  background: #a51b1b;
  position: absolute;
  right: 0;
  width: 35%;
  height: 100%;
  min-height: 800px;
  color: #fff;
}

.sidebar-container .profile-picture {
  width: 100%;
}

/* Card */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-width: 200px;
  max-width: 450px;
  margin: 20px auto;
  text-align: center;
  font-family: arial;
  background-color: #6d0202;
  padding: 10px;
}

.card .card-header {
  text-decoration: underline;
}

.card .title {
  color: white;
  text-decoration: underline;
  font-size: 18px;
}

.card .description {
  font-size: 14px;
}

.card .description-end {
  font-size: 16px;
  font-weight: bolder;
  font-style: italic;
}

.contact-button {
  border: none;
	background: #0c0c0c;
	color: #f2f2f2;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
  width: 100%;
  transform-style: preserve-3d;
  cursor: pointer;
}

.contact-button:hover {
  background: #f2f2f2;
	color: #0c0c0c;
	box-shadow: inset 0 0 0 3px #0c0c0c;
}

.card a {
  text-decoration: none;
  font-size: 22px;
  color: black;
  cursor: pointer;
  transition: 500ms ease;
}

.card a:hover {
  color: white;
}

/* Card */

/* Skills */

/* Skills */

@media screen and (max-width: 500px) {
  .sidebar-container {
    width: 100%;
    height: auto;
  }
  .main-container {
    width: 100%;
    height: auto;
  }
}
